@import '../../../assets/css/thumbnailGrid.css';
.f-10{
  font-size: 10px;
}
.star-check {
  display: inline-block;
  cursor: pointer;
}

.star-check input:not(:checked)~.active {
  display: none;
}

.star-check input:checked~.inactive {
  display: none;
}
