<div class="panel-heading text-uppercase">Secondary Grantor</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <div class="info-title">Full Name</div>
      <div class="info-user">{{ss.hisTransactions.Records[0].SecondaryGrantor.Name3Full || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Class Type</div>
      <div class="info-desc">{{ss.hisTransactions.Records[0].SecondaryGrantor.Name3ClassType || '-'}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="info-title">Full Name</div>
      <div class="info-user">{{ss.hisTransactions.Records[0].SecondaryGrantor.Name4Full || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Class Type</div>
      <div class="info-desc">{{ss.hisTransactions.Records[0].SecondaryGrantor.Name4ClassType || '-'}}</div>
    </div>
  </div>
</div>
