/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'assets/css/styles.css';
@import '~ngx-spinner/animations/square-jelly-box.css';
@import 'hover.css/scss/hover.scss';
@import '~font-awesome/css/font-awesome.css';
@import '~sweetalert2/dist/sweetalert2.min.css';
@import '../node_modules/ngx-ui-switch/ui-switch.component.css';
@import '../node_modules/intl-tel-input/build/css/intlTelInput.css';

body, html {
  min-height: 100vh;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #F5F6F9;
}
