<div class="panel-heading text-uppercase">Secondary Grantee</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <div class="info-title">Full Name</div>
      <div ass="info-user">{{ss.hisTransactions.Records[0].SecondaryGrantee.Name3Full || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Class Type</div>
      <div class="info-desc">{{ss.hisTransactions.Records[0].SecondaryGrantee.Name3ClassType || '-'}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="info-title">Full Name</div>
      <div ass="info-user">{{ss.hisTransactions.Records[0].SecondaryGrantee.Name4Full || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Class Type</div>
      <div class="info-desc">{{ss.hisTransactions.Records[0].SecondaryGrantee.Name4ClassType || '-'}}</div>
    </div>
  </div>
</div>
