<div class="card text-dark bg-white mb-3">
  <div class="card-body">
    <form
      class="login-form"
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit(resetForm)"
    >
      <div class="p-2">
        <h5 class="card-title text-blue text-center">{{PGConstant.RESET_PASS_TITLE}}</h5>
        <div class="mb-3">
          <label class="form-label h6">Password</label>
          <input
            type="password"
            class="form-control is-invalid"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{ 'is-invalid':f['password'].touched && f['password'].errors,  'is-valid': f['password'].valid}"
          >
          <div
            class="invalid-feedback"
            *ngIf="f['password'].touched && f['password'].errors"
          >
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['pattern']">Use 8-20 characters with a mix of uppercase (A-Z) & lowercase
              (a-z) letters, numbers & symbols</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label h6">Confirm Password</label>
          <input
            type="password"
            class="form-control is-invalid"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            [ngClass]="{ 'is-invalid':f['confirmPassword'].touched && f['confirmPassword'].errors,  'is-valid': f['confirmPassword'].valid}"
          >
          <div
            class="invalid-feedback"
            *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors"
          >
            <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
            <div *ngIf="f['confirmPassword'].errors['confirmedValidator']">Those passwords didn't match. Try again.
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button
          class="btn btn-info rounded-pill fw-bold"
          type="submit"
        >{{PGConstant.RESET_PASS_TITLE}}</button>
      </div>
    </form>
  </div>
</div>
