<div
  class="modal-header"
  *ngIf="modal"
>
  <div class="flex-column">
    <h4 class="modal-title">Find The Plan That Is Right For You</h4>
    <h6 class="text-muted">Choose the package that suits you.</h6>
  </div>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div [ngClass]="modal ? 'ps-3 pe-3 pb-3' : 'app-wrapper side-menu-space mt-2'">
  <ng-container *ngIf="!modal">
    <p class="h4 text-center">Find The Plan That Is Right For You</p>
    <p class="h6 text-center">Choose the package that suits you.</p>
  </ng-container>
  <div
    class="container mt-3"
    *ngIf="currentUser.is3DayPlan"
  >
    <p class="h4 text-muted"> Your Basic Plan does not allow access to this data.</p>
    <p class="h6">Upgrade to a Pro Plan and access the Property Details tab to see:</p>
    <ul class="list-group bg-transparent">
      <li class="list-group-item border-0 bg-transparent ps-0 pb-1 pt-1"><em
          class="fa fa-check text-success me-2"></em>Who bought and sold this property in the last transaction</li>
      <li class="list-group-item border-0 bg-transparent ps-0 pb-1 pt-1"><em
          class="fa fa-check text-success me-2"></em>The mortgage history for the property</li>
      <li class="list-group-item border-0 bg-transparent ps-0 pb-1 pt-1"><em
          class="fa fa-check text-success me-2"></em>Export files and images for analysis</li>
    </ul>
    <div class="row mt-2">
      <div class="col-md-12">
        <p class="h5 text-center">Save $30 on your first month! Limited time offer expires in</p>
      </div>
      <div class="col-md-12">
        <div class="text-center">
          <app-count-down-timer
            [timer]="timer"
            [expired]="expired"
          ></app-count-down-timer>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="subscriptions && subscriptions.length">
    <div class="row justify-content-md-center">
      <div class="col-md-auto text-center">
        <app-toggle-switch (subscriptionType)="subType = $event"></app-toggle-switch>
      </div>
    </div>
    <div class="featureTableSection pale-white">
      <table
        style="font-size:15px"
        class="table table-responsive d-none d-sm-block"
        aria-describedby="Subscription"
      >
        <thead>
          <tr>
            <th
              scope="col"
              class="plan-th simple-price"
              style="width: 33.33333%; vertical-align: middle;"
            >Simple Pricing
            </th>
            <ng-container *ngFor="let plan of getSubScriptionByType">
              <th
                (click)="planselected = plan.plan_name"
                scope="col"
                class="text-center plan-th"
                style="width: 16.66667%;"
              >
                <p class="simple-price-2 mb-2">{{ (plan.planName === '3 day plan' ? '3 DAY PASS' :
                  plan.planName | uppercase)}}</p>
                <p
                  class="text-center simple-price-3 f-12"
                  [innerHTML]="plan.description"
                ></p>
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody class="font-weight-500">
          <tr class="vwo_pricingSec price1">
            <td></td>
            <td
              *ngFor="let plan of getSubScriptionByType"
              class="PlanHeaderBorder"
            >
              <div
                class="user_plan text-center"
                style="background: transparent; min-width: 177px"
              >
                <h4>
                  <span>
                    <ng-template *ngTemplateOutlet="pricing; context: {$implicit: plan}"></ng-template>
                    <ng-template *ngTemplateOutlet="priceDesc; context: {$implicit: plan}"></ng-template>
                  </span>
                </h4>
                <p
                  class="best-for-txt"
                  [innerHTML]="plan.plan_best_for_text"
                ></p>
              </div>
              <div class="text-center purchase-btn-top">
                <ng-template *ngTemplateOutlet="purchaseButton; context: {$implicit: plan}"></ng-template>
              </div>
            </td>
          </tr>
          <ng-container *ngFor="let feature of features; let findex=index">
            <ng-container *ngIf="feature.description && feature.description.length; else someResult">
              <tr>
                <td>
                  {{feature.name}}
                </td>
                <ng-container *ngFor="let plan of getSubScriptionByType">
                  <td
                    class="text-center PlanInfoBorder"
                    [ngSwitch]="parseFeature(plan.features)[findex].value && parseFeature(plan.features)[findex].value.toString().toLowerCase().trim()"
                  >
                    <i
                      *ngSwitchCase="'yes'"
                      class="fa fa-check-circle text-primary fa-lg"
                      aria-hidden="true"
                    ></i>
                    <i
                      *ngSwitchCase="'no'"
                      class="fa fa-times-circle text-danger fa-lg"
                      aria-hidden="true"
                    ></i>
                    <span
                      *ngSwitchDefault
                      class="p-1"
                    >{{ parseFeature(plan.features)[findex].value }}</span>
                  </td>
                </ng-container>
              </tr>
              <ng-container *ngFor="let desc of feature.description; let descIndex=index">
                <tr>
                  <td>
                    <span>&nbsp;&nbsp;&#9679;&nbsp;</span>
                    {{desc.name}}
                  </td>
                  <ng-container *ngFor="let plan of getSubScriptionByType">
                    <td
                      class="text-center PlanInfoBorder"
                      [ngSwitch]="parseFeature(plan.features)[findex]['description'][descIndex].value.toString().toLowerCase().trim()"
                    >
                      <i
                        *ngSwitchCase="'yes'"
                        class="fa fa-check-circle text-primary fa-lg"
                        aria-hidden="true"
                      ></i>
                      <i
                        *ngSwitchCase="'no'"
                        class="fa fa-times-circle text-danger fa-lg"
                        aria-hidden="true"
                      ></i>
                      <span
                        class="p-1"
                        *ngSwitchDefault
                      >{{ parseFeature(plan.features)[findex]['description'][descIndex].value }}</span>
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </ng-container>
            <ng-template #someResult>
              <tr>
                <td>
                  {{feature.name}}
                </td>
                <ng-container *ngFor="let plan of getSubScriptionByType">
                  <td
                    class="text-center PlanInfoBorder"
                    [ngSwitch]="parseFeature(plan.features)[findex].value.toString().toLowerCase().trim()"
                  >
                    <i
                      *ngSwitchCase="'yes'"
                      class="fa fa-check-circle text-primary fa-lg"
                      aria-hidden="true"
                    ></i>
                    <i
                      *ngSwitchCase="'no'"
                      class="fa fa-times-circle text-danger fa-lg"
                      aria-hidden="true"
                    ></i>
                    <span
                      class="p-1"
                      *ngSwitchDefault
                    >{{ parseFeature(plan.features)[findex].value }}</span>
                  </td>
                </ng-container>
              </tr>
            </ng-template>
          </ng-container>
          <tr>
            <td></td>
            <td
              *ngFor="let plan of getSubScriptionByType"
              class="text-center PlanFooterBorder"
            >
              <ng-template *ngTemplateOutlet="purchaseButton; context: {$implicit: plan}"></ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngFor="let plan of getSubScriptionByType"
        class="d-block d-sm-none"
      >
        <table
          class="table orange-table"
          aria-describedby="Subscription"
        >
          <thead>
            <tr>
              <th
                class="text-center plan-th"
                colspan="2"
              >
                <strong
                  class="simple-price-2"
                  style="margin-top: -80px;"
                >{{ plan.planName === '3 day plan' ? '3 day pass' :
                  plan.planName}}</strong>
                <p
                  class="text-center simple-price-3"
                  [innerHTML]="plan.description"
                ></p>
              </th>
            </tr>
          </thead>
          <tbody class="font-weight-500">
            <tr class="vwo_pricingSec price1">
              <td colspan="2">
                <div
                  class="user_plan text-center"
                  style="background: transparent; min-width: 177px"
                >
                  <h4>
                    <span>
                      <ng-template *ngTemplateOutlet="pricing; context: {$implicit: plan}"></ng-template>
                      <ng-template *ngTemplateOutlet="priceDesc; context: {$implicit: plan}"></ng-template>
                    </span>
                  </h4>
                  <p
                    class="best-for-txt"
                    [innerHTML]="plan.plan_best_for_text"
                  ></p>
                </div>
                <div class="text-center purchase-btn-top">
                  <ng-template *ngTemplateOutlet="purchaseButton; context: {$implicit: plan}"></ng-template>
                </div>
              </td>
            </tr>
            <ng-container *ngFor="let feature of features; let findex=index">
              <ng-container *ngIf="feature.description && feature.description.length;else noDesc">
                <tr>
                  <td>
                    {{feature.name}}
                  </td>
                  <td
                    class="text-center"
                    [ngClass]="planselected === plan.plan_name ? 'PlanHeaderBorder' : 'PlanHeaderBorderBasic'"
                    [ngSwitch]="parseFeature(plan.features)[findex].value.toString().toLowerCase().trim()"
                  >
                    <span
                      class="ticked-true"
                      *ngSwitchCase="'yes'"
                    >&#10004;</span>
                    <span
                      class="ticked-false"
                      *ngSwitchCase="'no'"
                    >&#10006;</span>
                    <span *ngSwitchDefault>{{ parseFeature(plan.features)[findex].value }}</span>
                  </td>
                </tr>
                <ng-container *ngFor="let desc of feature.description; let descIndex=index">
                  <tr>
                    <td>
                      <span *ngIf="feature.description && feature.description.length">&nbsp;&nbsp;&#9679;&nbsp;</span>
                      {{desc.name}}
                    </td>
                    <td
                      class="text-center"
                      [ngClass]="planselected === plan.plan_name ? 'PlanHeaderBorder' : 'PlanHeaderBorderBasic'"
                      [ngSwitch]="parseFeature(plan.features)[findex]['description'][descIndex].value.toString().toLowerCase().trim()"
                    >
                      <span
                        class="ticked-true"
                        *ngSwitchCase="'yes'"
                      >&#10004;</span>
                      <span
                        class="ticked-false"
                        *ngSwitchCase="'no'"
                      >&#10006;</span>
                      <span *ngSwitchDefault>{{ parseFeature(plan.features)[findex]['description'][descIndex].value
                        }}</span>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
              <ng-template #noDesc>
                <tr>
                  <td>
                    <span *ngIf="feature.description && feature.description.length">&nbsp;&nbsp;&#9679;&nbsp;</span>
                    {{ feature.name }}
                  </td>
                  <td
                    class="text-center"
                    [ngClass]="planselected === plan.plan_name ? 'PlanHeaderBorder' : 'PlanHeaderBorderBasic'"
                    [ngSwitch]="parseFeature(plan.features)[findex].value.toString().toLowerCase().trim()"
                  >
                    <span
                      class="ticked-true"
                      *ngSwitchCase="'yes'"
                    >&#10004;</span>
                    <span
                      class="ticked-false"
                      *ngSwitchCase="'no'"
                    >&#10006;</span>
                    <span *ngSwitchDefault>{{ parseFeature(plan.features)[findex].value }}</span>
                  </td>
                </tr>
              </ng-template>
            </ng-container>
            <tr>
              <td
                colspan="2"
                class="text-center PlanFooterBorder"
              >
                <ng-template *ngTemplateOutlet="purchaseButton; context: {$implicit: plan}"></ng-template>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
<ng-template
  #purchaseButton
  let-plan
>
  <ng-container *ngIf="currentUser.subscriptionType === plan.planName && currentUser.searchCount; else purchase">
    <button
      class="btn btn-secondary"
      disabled
    >Current Plan</button>
  </ng-container>
  <ng-template #purchase>
    <button
      class="btn btn-secondary"
      [disabled]="planCheck(plan.plan_upgrade_seq)"
      [ngClass]="planCheck(plan.plan_upgrade_seq) ? '' : 'orange-btn'"
      (click)="upgradeAlert(plan)"
    >Upgrade Now
    </button>
  </ng-template>
</ng-template>

<ng-template
  #pricing
  let-plan
>
  <ng-container *ngIf="currentUser.is3DayPlan && !expired; else defaultPrice">
    <div [ngClass]="{'d-flex': plan.planName != PGConstant.PLAN_TYPE.THREE_DAY}">
      <strong
        class="num-spacing"
        *ngIf="plan.planName != PGConstant.PLAN_TYPE.THREE_DAY"
      >
        <span class="dollar-sm">$</span><s>{{ amount(plan.amount).dollars }}</s><sup
          *ngIf="amount(plan.amount).cents"
          class="lg-sup"
        >.{{
          amount(plan.amount).cents }}</sup>
      </strong>
      <strong class="num-spacing">
        <span class="dollar-sm">$</span>{{ discount(plan.amount,plan.planName).dollars }}<sup
          *ngIf="discount(plan.amount,plan.planName).cents"
          class="lg-sup"
        >.{{
          discount(plan.amount,plan.planName).cents }}</sup>
      </strong>
    </div>
  </ng-container>
  <ng-template #defaultPrice>
    <strong class="num-spacing">
      <span class="dollar-sm">$</span>{{ filteredAmount(plan.amount,plan.planName).dollars }}<sup
        *ngIf="filteredAmount(plan.amount,plan.planName).cents"
        class="lg-sup"
      >.{{
        filteredAmount(plan.amount,plan.planName).cents }}</sup>
    </strong>
  </ng-template>
</ng-template>

<ng-template
  #priceDesc
  let-plan
>
  <span *ngIf="plan.planName === PGConstant.PLAN_TYPE.THREE_DAY">
    <em class="i-price">{{PGConstant.FREQUENCY[plan.sub_ID]}}</em>
  </span>
  <span *ngIf="(plan.planName === 'Premium plan' || plan.planName === 'Pro250 plan')">
    <em class="i-price">{{PGConstant.FREQUENCY[plan.sub_ID]}} fee of <span class="num-spacing">${{
        amount(plan.amount).dollars }}<sup *ngIf="amount(plan.amount).cents">.{{
          amount(plan.amount).cents}}</sup></span></em>
  </span>
  <span *ngIf="plan.planName === 'Pro Annual Plan' || plan.planName === 'Premium Annual Plan'">
    <ng-container *ngIf="currentUser.is3DayPlan && !expired; else defaultText">
      <em class="i-price">{{PGConstant.FREQUENCY[plan.sub_ID]}} fee of <span class="num-spacing">${{
          amount(plan.amount).dollars }}<sup *ngIf="amount(plan.amount).cents">.{{
            amount(plan.amount).cents}}</sup></span></em>
    </ng-container>
    <ng-template #defaultText>
      <em class="i-price">Per month (Billed Annually)</em>
    </ng-template>
  </span>
</ng-template>
