<div class="panel-heading text-uppercase">Internal Structure Information</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <div class="info-title">Foundation</div>
      <div class="info-desc">{{staticSer.getFoundation(ss.propertRecord.IntStructInfo.Foundation) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Construction</div>
      <div class="info-desc">{{staticSer.getConstruction(ss.propertRecord.IntStructInfo.Construction) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Interior Structure</div>
      <div class="info-desc">{{staticSer.getInteriorStructure(ss.propertRecord.IntStructInfo.InteriorStructure) || '-'}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Plumbing Fixtures Count</div>
      <div class="info-desc">{{ss.propertRecord.IntStructInfo.PlumbingFixturesCount || '-'}}</div>
    </div>
    <div class="col-md-auto">
      <div class="info-title">Construction Fire Resistance Class</div>
      <div class="info-desc">{{staticSer.getConstructionFireResistanceClass(ss.propertRecord.IntStructInfo.ConstructionFireResistanceClass) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Safety Fire Sprinklers</div>
      <div class="info-desc">{{staticSer.getSafetyFireSprinklersFlag(ss.propertRecord.IntStructInfo.SafetyFireSprinklersFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Flooring Material Primary</div>
      <div class="info-desc">{{staticSer.getFlooringMaterialPrimary(ss.propertRecord.IntStructInfo.FlooringMaterialPrimary) || '-'}}</div>
    </div>
  </div>
</div>
