<div
  class="section-header text-capitalize h5"
  *ngIf="recentSearches && recentSearches.length"
>Recent Searches</div>
<div class="orders-section">
  <div class="orders-list">
    <ul class="list-group">
      <ng-container *ngIf="recentSearches && recentSearches.length">
        <li
          class="list-group-item"
          *ngFor="let search of recentSearches"
        >
          <article>
            <div class="d-flex justify-content-between">
              <div
                class="order-id"
                *ngIf="search.searchType === 'APN';else address"
              >
                APN:{{search.apn}}
              </div>
              <ng-template #address>
                <div class="order-id">
                  {{search.propertyAddressNavigation?.street}}
                  {{search.propertyAddressNavigation?.city}},
                  {{search.propertyAddressNavigation?.state?.abbreviation}},
                  {{search.propertyAddressNavigation?.zipCode}}
                </div>
              </ng-template>
              <div
                class="status"
                style="background: #A977AA"
              >{{search.searchType | uppercase}}</div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="address">
                {{search?.psid}}
              </div>
            </div>
            <div class="order-address">
              {{search.createdDate | date: 'MM/dd/yyyy hh:mm a'}}
            </div>
          </article>
        </li>
      </ng-container>
      <ng-container *ngIf="noResultFound">
      </ng-container>
    </ul>
  </div>
</div>
