<ng-container *ngIf="passwordForm">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div
    class="modal-body form-floating-borderless"
    [formGroup]="passwordForm"
  >
    <div class="form-floating mb-3 mt-2">
      <input
        type="password"
        class="form-control login-field"
        placeholder=""
        name="oldPassword"
        formControlName="oldPassword"
        [ngClass]="{ 'is-invalid':f['oldPassword'].touched && f['oldPassword'].errors }"
      >
      <label for="oldPassword">Old Password</label>
      <span
        *ngIf="f['oldPassword'].touched && f['oldPassword'].errors"
        class="error-message"
      >
        <div *ngIf="f['oldPassword'].errors['required']">Old Password is required</div>
      </span>
    </div>
    <div class="form-floating mb-3 mt-2">
      <input
        type="password"
        class="form-control login-field"
        placeholder=""
        name="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid':f['password'].touched && f['password'].errors }"
      >
      <label for="password">New Password</label>
      <span
        *ngIf="f['password'].touched && f['password'].errors"
        class="error-message"
      >
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['pattern']">Use 8-20 characters with a mix of uppercase (A-Z) & lowercase
          (a-z) letters, numbers & symbols</div>
      </span>
    </div>
    <div class="form-floating mb-3 mt-2">
      <input
        type="password"
        class="form-control login-field"
        placeholder=""
        name="confirmPassword"
        formControlName="confirmPassword"
        [ngClass]="{ 'is-invalid':f['confirmPassword'].touched && f['confirmPassword'].errors }"
      >
      <label for="confirmPassword">Confirm Password</label>
      <span
        *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors"
        class="error-message"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
        <div *ngIf="f['confirmPassword'].errors['confirmedValidator']">Those passwords didn't match. Try again.</div>
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-dismiss"
      (click)="activeModal.close('Close click')"
    >Cancel</button>
    <button
      type="button"
      class="btn btn-ok"
      (click)="updatePassword()"
    >Update</button>
  </div>
</ng-container>
