/* custom-check */
.custom-check {
    display: inline-block;
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    line-height: 1;
    min-height: 14px;
    font-size: 12px;
    color: #22462F;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lable-name {
    opacity: 0.6;
}
/* Hide the browser's default checkbox */
.custom-check input {
    display: none
}

/* Create a custom checkbox */
.custom-check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #A4BBC1;
    border-radius: 3px;
    box-sizing: border-box;
}


/* When the checkbox is checked, add a blue background */
.custom-check input:checked~.checkmark {
    background-color: #248875;
    border-color: #A4BBC1
}

/* Show the checkmark when checked */
.custom-check input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
    left: 4px;
    top: 2px;
    width: 2px;
    height: 5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-check.active {
    color: #22462F !important;
    opacity: 1;
}
.custom-check.active .lable-name,
.custom-check:hover .lable-name{
    color: #22462F !important;
    opacity: 1;
}

