<div class="bg-container p-sm-5 p-3">
  <img
    width="200"
    height="45"
    alt="logo"
    src="assets/icons/logo.png"
  >
  <div class="row justify-content-between mt-sm-5 mt-3 mb-sm-5">
    <div class="col-md-4 m-auto ms-0 mb-2 mb-sm-auto">
      <p class="h3 fw-bold text-white text-center text-sm-start">GET PROPERTY RECORDS FAST</p>
      <p class="h5 text-white text-center text-sm-start">Get Any Property Tax Record, Mortgage Details, Owner's Info &
        More</p>
    </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
