<div class="panel-heading text-uppercase">Title Company Info</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <div class="info-title">Standardized Code</div>
      <div class="info-desc">{{ss.hisTransactions.Records[0].TitleCompInfo.StandardizedCode || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Standardized Name</div>
      <div class="info-desc">{{ss.hisTransactions.Records[0].TitleCompInfo.StandardizedName || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Raw Title Company</div>
      <div class="info-desc">{{ss.hisTransactions.Records[0].TitleCompInfo.TaxCompanyRaw || '-'}}</div>
    </div>
  </div>
</div>
