<div class="panel-heading text-uppercase">External Buildings</div>
<div class="panel-body">
  <div class="row">
    <div class="col-md-3">
      <div class="info-title">Buildings Count</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.BuildingsCount || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Bath House Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.BathHouseArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Bath House</div>
      <div class="info-desc">{{staticSer.getBathHouse(ss.propertRecord.ExtBuildings.BathHouseFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Boat Access</div>
      <div class="info-desc">{{staticSer.getBoatAccess(ss.propertRecord.ExtBuildings.BoatAccessFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Boat House Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.BoatHouseArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Boat House</div>
      <div class="info-desc">{{staticSer.getBoatHouse(ss.propertRecord.ExtBuildings.BoatHouseFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Cabin Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.CabinArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Cabin</div>
      <div class="info-desc">{{staticSer.getCabin(ss.propertRecord.ExtBuildings.CabinFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Canopy Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.CanopyArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Canopy</div>
      <div class="info-desc">{{staticSer.getCanopy(ss.propertRecord.ExtBuildings.CanopyFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Gazebo Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.GazeboArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Gazebo</div>
      <div class="info-desc">{{staticSer.getGazebo(ss.propertRecord.ExtBuildings.GazeboFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Granary Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.GranaryArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Granary</div>
      <div class="info-desc">{{staticSer.getGranary(ss.propertRecord.ExtBuildings.GranaryFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Green House Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.GreenHouseArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Green House</div>
      <div class="info-desc">{{staticSer.getGreenHouse(ss.propertRecord.ExtBuildings.GreenHouseFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Guest House Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.GuestHouseArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Guest House</div>
      <div class="info-desc">{{staticSer.getGuestHouse(ss.propertRecord.ExtBuildings.GuestHouseFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Kennel Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.KennelArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Kennel</div>
      <div class="info-desc">{{staticSer.getKennel(ss.propertRecord.ExtBuildings.KennelFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Lean-to Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.LeanToArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Lean-to</div>
      <div class="info-desc">{{staticSer.getLeanTo(ss.propertRecord.ExtBuildings.LeanToFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Loading Platform Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.LoadingPlatformArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Loading Platform</div>
      <div class="info-desc">{{staticSer.getLoadingPlatform(ss.propertRecord.ExtBuildings.LoadingPlatformFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Milk House Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.MilkHouseArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Milk House</div>
      <div class="info-desc">{{staticSer.getMilkHouse(ss.propertRecord.ExtBuildings.MilkHouseFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Outdoor Kitchen Fireplace</div>
      <div class="info-desc">{{staticSer.getOutdoorKitchenFireplace(ss.propertRecord.ExtBuildings.OutdoorKitchenFireplaceFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Pool House Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.PoolHouseArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Pool House</div>
      <div class="info-desc">{{staticSer.getPoolHouse(ss.propertRecord.ExtBuildings.PoolHouseFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Poultry House Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.PoultryHouseArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Poultry House</div>
      <div class="info-desc">{{staticSer.getPoultryHouse(ss.propertRecord.ExtBuildings.PoultryHouseFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Quonset Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.QuonsetArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Quonset</div>
      <div class="info-desc">{{staticSer.getQuonset(ss.propertRecord.ExtBuildings.QuonsetFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Shed Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.ShedArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Shed</div>
      <div class="info-desc">{{staticSer.getShedCode(ss.propertRecord.ExtBuildings.ShedCode) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Silo Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.SiloArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Stable Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.StableArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Stable</div>
      <div class="info-desc">{{staticSer.getStable(ss.propertRecord.ExtBuildings.StableFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Storage Building Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.StorageBuildingArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Storage Building</div>
      <div class="info-desc">{{staticSer.getStorageBuilding(ss.propertRecord.ExtBuildings.StorageBuildingFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Utility Building Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.UtilityBuildingArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Utility Building</div>
      <div class="info-desc">{{staticSer.getUtilityBuilding(ss.propertRecord.ExtBuildings.UtilityBuildingFlag) || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Pole Structure Area (Sq. Ft.)</div>
      <div class="info-desc">{{ss.propertRecord.ExtBuildings.PoleStructureArea || '-'}}</div>
    </div>
    <div class="col-md-3">
      <div class="info-title">Pole Structure</div>
      <div class="info-desc">{{staticSer.getPoleStructure(ss.propertRecord.ExtBuildings.PoleStructureFlag) || '-'}}</div>
    </div>
  </div>
</div>
