<div class="app-wrapper side-menu-space mt-2">
  <div class="">
    <div class="custom-tabs-container d-flex justify-content-between grid-tabs-wrapper">
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="active"
        class="nav-tabs"
        (navChange)="onNavChange($event)"
      >
        <li [ngbNavItem]="'Address'">
          <a ngbNavLink>Address</a>
          <ng-template ngbNavContent>
            <app-search-table
              [searchType]="'address'"
              [searches]="searches"
              [noResultFound]="noResultFound"
              (page)="pageChangeEvent($event)"
            ></app-search-table>
          </ng-template>
        </li>
        <li [ngbNavItem]="'APN'">
          <a ngbNavLink>APN </a>
          <ng-template ngbNavContent>
            <app-search-table
              [searchType]="'apn'"
              [searches]="searches"
              [noResultFound]="noResultFound"
              (page)="pageChangeEvent($event)"
            ></app-search-table>
          </ng-template>
        </li>
        <li [ngbNavItem]="'Owner'">
          <a ngbNavLink>People</a>
          <ng-template ngbNavContent>
            <app-search-table
              [searchType]="'people'"
              [searches]="searches"
              [noResultFound]="noResultFound"
              (page)="pageChangeEvent($event)"
            ></app-search-table>
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="tab-content bg-white pb-3 pt-3 tab-content-container">
      <div class="container-fluid tab-pane active">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
